{% from 'macros.j2' import main_post, page_header %}
{% extends "base.html" %}

{% block header %}

{% if output_file == 'index.html' %}
<div class="article-heading big-heading">
    <div class="d-flex flex-wrap flex-lg-nowrap justify-content-evenly mt-5 mb-5">
        <a href="{{ SITEURL }}/{{ ABOUT_URL }}"
           class="btn btn-secondary btn-darker btn-heading"
           title="About"
           aria-label="About"
        ><i class="bi bi-file-person"></i> About
        </a>
        <a href="{{ GIT_LINK }}"
           class="btn btn-secondary btn-darker btn-heading"
           title="My GitHub"
           aria-label="My GitHub"
        ><i class="bi bi-github"></i> GitHub
        </a>
    </div>
</div>
<hr class="post-line">
{% endif %}

{% endblock header %}


{% block content %}
<h2 class="subheading">
    Latest posts
</h2>

{% for article in articles|slice(3) %}
{{ main_post(article) }}
{% endfor %}

<!--<h2 class="subheading">-->
<!--    Latest posts-->
<!--</h2>-->


{% endblock content %}
