{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Archive{% endblock %}


{% block header %}
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="heading d-flex flex-wrap align-items-center justify-content-between">
                    <a href="{{ SITEURL }}/archives.html" rel="bookmark" title="Archives">
                        <h1>
                            Archives
                        </h1>
                    </a>
                    <p class="heading-meta">
                        All posts as date-time list.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="navigation-hr">
</header>
{% endblock header %}

{% block content %}
<dl>
    {% for article in dates %}
    <dt>{{ article.locale_date }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    {% endfor %}
    <hr>
</dl>
{% endblock content %}
