{% from 'macros.j2' import page_header %}
{% extends "base.html" %}

{% block title %}
{{ SITENAME }} - Archive
{% endblock %}


{% block header %}
{{ page_header("Archives", ARCHIVES_SAVE_AS, "All posts as date-time list.") }}
{% endblock header %}

{% block content %}
<dl>
    {% for article in dates %}
    <dt>
        {{ article.locale_date }}
    </dt>
    <dd>
        <a href="{{ SITEURL }}/{{ article.url }}">
            {{ article.title }}
        </a>
    </dd>
    {% endfor %}
    <hr>
</dl>
{% endblock content %}
