{% extends 'base.html' %}

{% block title %}{{ article.title }}{% endblock %}

{% block meta_tags %}
<meta property="og:title" content="{{ article.title }}"/>
<meta property="og:url" content="{{ article.url }}"/>
<meta property="og:description" content=" {{ article.meta_description }}"/>
<meta property="og:type" content="article"/>
<meta property="og:author" content="{{ article.author }}"/>
{% endblock %}

{% block head %}
<h1>{{ article.title }}</h1>
{% if article.subtitle %}
<h3>{{ article.subtitle }}</h3>
{% endif %}
<span class="article-meta">by {{ article.author }} on {{ article.date.strftime('%d %B %Y')}}</span>
{% endblock %}


{% block content %}
<div class="ui text container tall segment article-content">
    {{ article.content }}
</div>
{% endblock %}

{% block extra_scripts %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/sharer.js/0.2.4/sharer.min.js"></script>
{% endblock %}
