<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% block title %}{{ SITENAME }}{% if SITESUBTITLE and SHOW_SITESUBTITLE_IN_HTML %} - {{ SITESUBTITLE }}{%
        endif %}{% endblock title %}</title>

    <!-- Bootstrap and Clean Blog CSS -->
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap-icons.css" rel="stylesheet">
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/{{ COLOR_SCHEME_CSS }}" rel="stylesheet">
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/clean-blog.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% endblock head %}

    {% block opengraph %}
    {% for LOC in LOCALE %}
    <meta property="og:locale" content="{{ LOC }}">
    {% endfor %}
    <meta property="og:site_name" content="{{ SITENAME }}">
    {% endblock opengraph %}

    {% if FAVICON %}
    <link rel="icon" href="/{{FAVICON}}">
    {% endif %}
</head>

{% if page %}
{% set body_class = "page-" + page.slug %}
{% elif article %}
{% set body_class = "article-" + article.slug %}
{% elif category %}
{% set body_class = "category-" + category.slug %}
{% elif tag %}
{% set body_class = "tag-" + tag.slug %}
{% else %}
{% set body_class = "" %}
{% endif %}
<body class="{{ body_class }} d-flex flex-column vh-100">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ SITEURL }}/">
            <i class="bi bi-house"></i>
            {% if body_class == "" %}
            Index
            {% else %}
            {{ SITENAME }}
            {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#bs-example-navbar-collapse-1">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="navbar-nav ms-auto">
                {% for title, link, icon in MENUITEMS if title != "Index"%}
                <li>
                    <a class="nav-link" href="{{ SITEURL }}/{{ link }}">
                        <i class="bi bi-{{ icon }}"></i>
                        {{ title }}
                    </a>
                </li>
                {% endfor %}

                <!--                {% for cat, null in categories if cat not in EXCLUDED_CATEGORIES %}-->
                <!--                <li {% if cat== category %} class="active" {% endif %}>-->
                <!--                    <a class="nav-link" href="{{ SITEURL }}/{{ cat.url }}">-->
                <!--                        <i class="bi bi-tag"></i> {{ cat }}-->
                <!--                    </a>-->
                <!--                </li>-->
                <!--                {% endfor %}-->


            </ul>
        </div>
    </div>
</nav>

{% block header %}
{% endblock header %}

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            {% block content %}{% endblock content %}
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="footer mt-auto">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <p class="footer-icons">
                    <a href="{{ GITHUB_URL }}">
                        <i class="bi bi-github"></i>
                    </a>
                </p>

                <ul class="list-inline text-center text-muted">
                    {% for title, link, icon in MENUITEMS %}
                    <li>
                        <a href="{{ SITEURL }}/{{ link }}">
                            <i class="bi bi-{{ icon }}"></i> {{ title }}
                        </a>
                    </li>
                    {% endfor %}
                    <!--                    {% for cat, null in categories %}-->
                    <!--                    {% if cat not in EXCLUDED_CATEGORIES %}-->
                    <!--                    <li>-->
                    <!--                        <a href="{{ SITEURL }}/{{ cat.url }}">-->
                    <!--                            <i class="bi bi-tag"></i> {{ cat }}-->
                    <!--                        </a>-->
                    <!--                    </li>-->
                    <!--                    {% endif %}-->
                    <!--                    {% endfor %}-->
                </ul>
                <hr class="tiny">
                <p class="copyright text-muted">
                    &copy; Blog powered by <a href="http://getpelican.com">Pelican</a>,
                    on modified <a href="https://github.com/BlackrockDigital/startbootstrap-clean-blog">Clean Blog</a>
                    theme. Header image by <a
                        href="https://www.freepik.com/free-photo/top-view-workspace-with-orange-background_4979017.htm#query=keyboard%20key&position=9&from_view=search&track=ais">Freepik</a>
                    <br/>
                </p>


            </div>
        </div>
    </div>
</footer>

<!-- JS Scripts -->
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.min.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.min.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/clean-blog.min.js"></script>
{% include 'analytics.html' %}
</body>

</html>
