<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>{% block title %}{{ SITENAME }}{% if SITESUBTITLE and SHOW_SITESUBTITLE_IN_HTML %} - {{ SITESUBTITLE }}{%
        endif %}{% endblock title %}</title>

    <!-- Bootstrap and Clean Blog CSS -->
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/bootstrap-icons.css" rel="stylesheet">
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks/{{ COLOR_SCHEME_CSS }}" rel="stylesheet">
    <link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/clean-blog.css" rel="stylesheet">

    {% endblock head %}

    {% block opengraph %}
    <meta property="og:locale" content="{{ DEFAULT_LANG }}">
    <meta property="og:site_name" content="{{ SITENAME }}">
    {% endblock opengraph %}

    {% if FAVICON %}
    <link rel="icon" href="/{{FAVICON}}">
    {% endif %}
</head>

{% if page %}
{% set body_class = "page-" + page.slug %}
{% elif article %}
{% set body_class = "article-" + article.slug %}
{% elif category %}
{% set body_class = "category-" + category.slug %}
{% elif tag %}
{% set body_class = "tag-" + tag.slug %}
{% else %}
{% set body_class = "" %}
{% endif %}
<body class="{{ body_class }} d-flex flex-column vh-100">
<div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">


    <nav class="navbar navbar-expand-lg container align-items-center px-2 mt-2 mb-1">
        <a class="brand" href="{{ SITEURL }}">
            Kamil's Scratchpad
        </a>
        <!-- Hamburger toggle button -->
        <button class="navbar-toggler mb-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="#navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible navigation links -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="nav navbar-nav">
                {% for title, link, icon in NAV_LINKS %}
                {% if icon == "github" %}
                {% set nav_url = link %}
                {% else %}
                {% set nav_url = SITEURL + "/" + link %}
                {% endif %}
                <li class="nav-item">
                    <a class="btn-navigation mx-2 my-2 float-end"
                       href="{{ nav_url }}"
                       title="{{ title }}"
                       aria-label="{{ title }}"
                    >{{ title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </nav>
    <hr class="nav-line">
</div>


{% block header %}
{% endblock header %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
            {% block content %}{% endblock content %}
        </div>
    </div>
</div>


<footer class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
    <hr class="section-line">

    <p class="footer-links my-3">
        <a href="{{ SITEURL }}"
           class="px-2"
           title="{{ SITENAME }}"
           aria-label="{{ SITENAME }}">Index</a>
        {% for title, link, icon in NAV_LINKS %}
        <a href="{{ SITEURL }}/{{ link }}"
           class="px-2"
           title="{{ title }}"
           aria-label="{{ title }}"
        >{{ title }}
        </a>
        {% endfor %}
    </p>
    <p class="footer-links mb-2 git-icon">
        <a href="{{ GIT_LINK }}"
           class="px-2"
           title="My GitHub"
           aria-label="My GitHub"
        ><i class="bi bi-github"></i>
        </a>
    </p>
    <hr class="little">
    <p class="copyright">
        &copy; Blog made by <a href="{{ SITEURL }}/about.html">Kamil Urbanek</a>, powered by <a
            href="http://getpelican.com">Pelican</a>,
        on modified <a href="https://github.com/BlackrockDigital/startbootstrap-clean-blog">Clean Blog</a>
        theme.
    </p>


</footer>


<!-- JS Scripts -->
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/jquery.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/bootstrap.js"></script>
<script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/clean-blog.js"></script>
</body>

</html>
