<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
        {{ SITENAME }}
        {% endblock title %}
    </title>

    <!-- Bootstrap and Clean Blog CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/code_blocks.css">
    <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/style.css">
    {% endblock head %}

    {% block opengraph %}
    <meta property="og:locale" content="{{ DEFAULT_LANG }}">
    <meta property="og:site_name" content="{{ SITENAME }}">
    {% endblock opengraph %}

    {% if FAVICON %}
    <link rel="icon" type="image/x-icon" href="/{{ FAVICON }}">
    {% endif %}

    {% if GOOGLE_ANALYTICS %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JXZFNZYL4M"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-JXZFNZYL4M');
    </script>
    {% endif %}
</head>

{% if page %}
{% set body_class = "page-" + page.slug %}
{% elif article %}
{% set body_class = "article-" + article.slug %}
{% elif category %}
{% set body_class = "category-" + category.slug %}
{% elif tag %}
{% set body_class = "tag-" + tag.slug %}
{% else %}
{% set body_class = "" %}
{% endif %}

<body class="{{ body_class }}">
    <header>
        <nav>
            <div>
                <a href="{{ SITEURL }}" title="{{ SITENAME }}" aria-label="{{ SITENAME }}"
                class="nav-logo">
                    <strong >K</strong>
                </a>
            </div>
            <div>
                {% for title, link, icon in NAV_LINKS if title != 'Index' %}
                {% set nav_url = SITEURL + "/" + link %}
                <a href="{{ nav_url }}" title="{{ title }}" aria-label="{{ title }}">{{ title }}</a>
                {% endfor %}
                <span class="toggle-icon" id="toggle-icon" onclick="toggleDarkMode()">💡</span>
            </div>
        </nav>
    </header>
    <main>
        <div class="hero">
        {% block header %}
        {% endblock header %}
</div>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        <div class="footer-links">
            {% for title, link, icon in FOOTER_LINKS %}
            {% if not link %}
            {% set nav_url = SITEURL %}
            {% else %}
            {% set nav_url = SITEURL + "/" + link %}
            {% endif %}
            <a href="{{ nav_url }}" title="{{ title }}" aria-label="{{ title }}">{{ title }}</a>
            {% endfor %}
        </div>
        <p>
            <a href="{{ GIT_LINK }}" title="Github" aria-label="Github link">{{ SVG_GITHUB_BIGGER }}</a>
        </p>
        <p>© Made by <a href="{{ SITEURL }}/{{ ABOUT_URL }}">Kamil Urbanek</a>, powered by <a
                href="https://getpelican.com">Pelican</a></p>
    </footer>
    <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/clean-blog.js"></script>
</body>
</html>
