{% block header %}
    <div class="text-center page-header">
        <h1>
            <a href="{{ SITEURL }}/">
                {{ SITENAME }}
            </a>
            <br>
            {% if SITESUBTITLE %}
            <small>{{ SITESUBTITLE }}</small>
            {% endif %}
        </h1>
        <div class="row text-center">
            <ul class="nav nav-pills text-center">
                {% for title, link in MENUITEMS %}
                <li class="nav-item">
                    <a href="{{ SITEURL }}/{{ link }}">
                        <i class="nav-link fa fa-{{ title }} "></i>
                        {{title}}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}