{% from 'macros.j2' import main_post, secondary_button, read_more_button, main_button %}
{% extends "base.html" %}

{% block header %}
<header class="intro-header inset-shadow">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="article-heading big-heading">
                    <a href="{{ SITEURL }}" rel="bookmark" title="{{ SITENAME }}">
                        <h1 class="big-title">
                            {{ SITENAME }}
                        </h1>
                    </a>
                    <h2 class="subheading">
                        {{ SITEINFO }}
                    </h2>
                    <div class="d-flex flex-wrap flex-lg-nowrap justify-content-evenly mt-5 mb-2">
                        <a href="{{ SITEURL }}/{{ ABOUT_URL }}"
                           class="btn btn-secondary btn-darker btn-heading"
                           title="About"
                           aria-label="About"
                        >
                            <i class="bi bi-file-person"></i> About
                        </a>
                        <a href="{{ GIT_LINK }}"
                           class="btn btn-secondary btn-darker btn-heading"
                           title="My GitHub"
                           aria-label="My GitHub"
                        >
                            <i class="bi bi-github"></i> GitHub
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}

<div class="section">
    <div class="d-flex justify-content-between align-items-center section-title">
        <a href="{{ SITEURL }}/{{ ARTICLES_URL }}">
            <h1><i class="bi bi-file-post"></i> Articles</h1>
        </a>
        {{ secondary_button(ARTICLES_URL, 'All articles', 'arrow-right-short') }}
    </div>
    <small>{{ ARTICLES_DESCRIPTION }}</small>
    <hr class="section-line">
    {% for article in articles if article.category == 'Article' %}
    {% if loop.index < 4 %}
    {{ main_post(article) }}
    {% endif %}
    {% endfor %}

    <div class="d-flex justify-content-end mt-4">
        {{ main_button(ARTICLES_URL, 'All articles', 'arrow-right-short') }}
    </div>

    <hr class="section-line my-4">

</div>

<div class="section section-note">
    <div class="d-flex justify-content-between align-items-center">
        <a href="{{ SITEURL }}/{{NOTES_URL}}">
            <h1><i class="bi bi-sticky"></i> Notes</h1>
        </a>
        {{ secondary_button(NOTES_URL, 'All notes', 'arrow-right-short') }}
    </div>
    <small>{{ NOTES_DESCRIPTION }}</small>
    <hr class="section-line">
    <div class="row row-cols-1 g-0 row-cols-md-2 gx-md-4">
        {% for article in articles if article.category == 'Note' %}
        {% if loop.index < 5 %}
        <div class="col py-1">
            <div class="card note-card h-100">
                <div class="card-body py-2 px-0">
                    <h3 class="card-title note-title">{{ article.title }}</h3>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="meta-element my-1">
                            <div>
                                <i class="bi bi-calendar"></i> {{ article.locale_date }}
                            </div>
                            <div class="tags">
                                {% for t in article.tags %}
                                <a href="{{ SITEURL }}/tags/{{ t }}.html"
                                   rel="bookmark"
                                   title="{{ t }}"
                                   aria-label="{{ t }}"
                                >#{{ t }}
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <div>
                            {{ read_more_button(article) }}
                        </div>
                    </div>
                </div>
                <hr class="post-line">

            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="d-flex justify-content-end mt-4">
        {{ main_button(NOTES_URL, 'All notes', 'arrow-right-short') }}
    </div>
    <hr class="section-line my-4">
</div>

{% endblock content %}