{% from 'macros.j2' import main_post, primary_button %}
{% extends "base.html" %}

{% block header %}
<header class="intro-header inset-shadow">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="article-heading big-heading">
                    <a href="{{ SITEURL }}" rel="bookmark" title="{{ SITENAME }}">
                        <h1 class="big-title">
                            {{ SITENAME }}
                        </h1>
                    </a>
                    <h3 class="subheading">
                        {{ SITEINFO }}
                    </h3>
                    <div class="d-flex flex-wrap flex-lg-nowrap justify-content-evenly mt-4 mb-1">
                        {{ primary_button('about.html', 'About me') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="navigation-hr">

</header>
{% endblock header %}

{% block content %}

{% for article in articles_page.object_list %}
{{ main_post(article) }}
{% endfor %}

{% include "pagination.html" %}

{% endblock content %}