{% extends "base.html" %}

{% block header %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
{% if HEADER_COVER %}
{% set HEADER_STYLE = "background-image: url('" + SITEURL + "/images/" + HEADER_COVER + "')" %}
{% elif HEADER_COLOR %}
{% set HEADER_STYLE = "background-color: " + HEADER_COLOR %}
{% else %}
{% set HEADER_STYLE = "background-image: url('" + SITEURL + "/" + THEME_STATIC_DIR + "/images/" + THEME_DEFAULT_HEADER + "')" %}
{% endif %}
<header class="intro-header" style="{{ HEADER_STYLE }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="heading main-heading">
                    <h1>{{ SITENAME }}</h1>
                    <hr>
                    <h3>{{ SITEINFO }}</h3>
                    <hr>
                    <div class="d-flex justify-content-evenly heading-links">
                        {% for title, link, icon in SITELINKS %}
                        {% if icon == "github" %}
                        {% set nav_url = link %}
                        {% else %}
                        {% set nav_url = SITEURL + "/" + link %}
                        {% endif %}
                        <a class="d-flex flex-column align-self-start" href="{{ nav_url }}" title="{{ title }}">
                            <i class="bi bi-{{ icon }}"></i>
                            {{ title }}
                        </a>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
{% if INTRO_CONTENT %}
<div class="row intro-content">
    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
        {{ INTRO_CONTENT }}
    </div>
</div>
{% endif %}
{% for article in articles_page.object_list %}
{% if article.category not in EXCLUDED_CATEGORIES %}


<div class="post-preview">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">
        <h2 class="post-title">
            {{ article.title }}
        </h2>
    </a>
    <div class="d-flex justify-content-start meta-elements">
        
        <i class="bi bi-calendar"></i> {{ article.locale_date }}
        <i class="bi bi-dot"></i>
        <i class="bi bi-book"></i> {{ article.readtime_string }}
    </div>
    <p class="article-summary">
        {% if article.has_summary %}
        {{ article.summary }}
        {% elif article.summary %}
        {{ article.summary|striptags|truncate(200) }}
        {% endif %}
    </p>
    <div class="d-flex justify-content-between meta-elements">
        <div class="tags">
            {% for t in article.tags %}
            <a href="{{ SITEURL }}/tags/{{ t }}" rel="bookmark" title="{{ t }}">
                #{{ t }}
            </a>
            {% endfor %}

        </div>
        <div class="read-more">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
               title="{{ article.title|striptags }}">
                Read more<i class="bi bi-arrow-right-short"></i>
            </a>
        </div>

    </div>
</div>
<hr>
{% endif %}
{% endfor %}

{% include "pagination.html" %}
{% endblock content %}