{% macro small_note(article) %}

<div class="post-preview">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">
        <h1 class="post-title">
            {{ article.title }}
        </h1>
    </a>
    <div class="container text-start p-0">
        <div class="row row-cols-2 align-items-start justify-content-between">
            <div class="col-8 meta-element note-meta d-flex flex-wrap flex-lg-nowrap">
                <div class="pb-3 pe-4 nobr">
                    <i class="bi bi-calendar"></i>
                    {{ article.locale_date }}
                </div>
                <div class="tags pb-3 pe-2">
                    {% for t in article.tags %}
                    <a href="{{ SITEURL }}/tags/{{ t }}" rel="bookmark" title="{{ t }}">
                        #{{ t }}
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="col-4 solid-link text-end">
                <a href="{{ SITEURL }}/{{ article.url }}"
                   rel="bookmark" title="{{ article.title|striptags }}"
                   class="nobr">
                    Read more<i class="bi bi-arrow-right-short"></i>
                </a>
            </div>
        </div>
    </div>
    <hr>
</div>

{% endmacro %}


{% macro big_note(article) %}

<div class="post-preview">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">
        <h2 class="post-title">
            {{ article.title }}
        </h2>
    </a>
    <div class="d-flex justify-content-start meta-element">

        <i class="bi bi-calendar"></i> {{ article.locale_date }}
        <i class="bi bi-dot"></i>
        <i class="bi bi-book"></i> {{ article.readtime_string }}
    </div>
    <p class="article-summary">
        {% if article.has_summary %}
        {{ article.summary }}
        {% elif article.summary %}
        {{ article.summary|striptags|truncate(200) }}
        {% endif %}
    </p>
    <div class="d-flex justify-content-between">
        {{ tags_list(article.tags) }}
        <div class="solid-link">
            <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
               title="{{ article.title|striptags }}">
                Read more<i class="bi bi-arrow-right-short"></i>
            </a>
        </div>

    </div>
</div>
<hr>

{% endmacro %}

{% macro block_article(article) %}

<div class="post-preview">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">
        <h2 class="post-title">
            {{ article.title }}
        </h2>
    </a>
    <div class="d-flex justify-content-start meta-element">

        <i class="bi bi-calendar"></i> {{ article.locale_date }}
        <i class="bi bi-dot"></i>
        <i class="bi bi-book"></i> {{ article.readtime_string }}
    </div>
    <p class="article-summary">
        {% if article.has_summary %}
        {{ article.summary }}
        {% elif article.summary %}
        {{ article.summary|striptags|truncate(200) }}
        {% endif %}
    </p>
    <div class="d-flex justify-content-between">
        {{ tags_list(article.tags) }}
    </div>
</div>
<hr>

{% endmacro %}


{% macro article_header(article) %}
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="article-heading">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">
                        <h1>
                            {{ article.title|striptags }}
                        </h1>
                    </a>
                    {% if article.headline %}
                    <h3 class="subheading">{{ article.headline }}</h3>
                    {% endif %}
                    <p class="meta-element">
                        <i class="bi bi-calendar"></i> {{ article.locale_date }}
                        <i class="bi bi-dot"></i>
                        <i class="bi bi-clock-history"></i> {{ article.readtime_string }}
                    </p>
                    <p class="meta-element tags">
                        {% for t in article.tags %}
                        <a href="{{ SITEURL }}/tags/{{ t }}" rel="bookmark" title="{{ t }}">
                            #{{ t }}
                        </a>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>
{% endmacro %}


{% macro tags_list(tags) %}

<div class="tags meta-element">
    {% for t in tags %}
    <a href="{{ SITEURL }}/tags/{{ t }}" rel="bookmark" title="{{ t }}">
        #{{ t }}
    </a>
    {% endfor %}
</div>

{% endmacro %}

{% macro page_header(head_text, url, meta_text='') %}

<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="heading d-flex flex-wrap align-items-baseline justify-content-between">
                    <a href="{{ SITEURL }}/{{ url }}" rel="bookmark" title="{{ head_text }}" class="me-5">
                        <h1 class="my-6">
                            {{ head_text }}
                        </h1>
                    </a>
                    {% if meta_text %}
                    <p class="heading-meta">
                        {{ meta_text }}
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <hr class="navigation-hr">

</header>
{% endmacro %}
