{% macro main_post(article) %}

<div class="post-preview">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">
        <h2 class="post-title">
            {{ article.title }}
        </h2>
    </a>
    <div class="d-flex justify-content-start meta-element">
        {{ meta_elements(article) }}
    </div>

    <p class="article-summary">
        {% if article.has_summary %}
        {{ article.summary }}
        {% elif article.summary %}
        {{ article.summary|striptags|truncate(200) }}
        {% endif %}
    </p>
    <div class="d-flex justify-content-between align-self-center align-items-center">
        {{ tags_list(article) }}
        {{ read_more_button(article) }}
    </div>
    <hr class="post-line">
</div>

{% endmacro %}


{% macro meta_elements(article) %}

<i class="bi bi-calendar"></i> {{ article.locale_date }}
<i class="bi bi-dot"></i>
<i class="bi bi-book"></i> {{ article.readtime_string }}

{% endmacro %}

{% macro meta_category(article) %}

{% if article.category == 'Article' %}
<i class="bi bi-file-post"></i>
{% else %}
<i class="bi bi-sticky"></i>
{% endif %}
{{ article.category }}
<i class="bi bi-dot"></i>

{% endmacro %}


{% macro tags_list(article) %}

<div class="tags meta-element">
    {% for t in article.tags %}
    <a href="{{ SITEURL }}/tags/{{ t }}.html"
       rel="bookmark"
       title="{{ t }}"
       aria-label="{{ t }}"
    >
        #{{ t }}
    </a>
    {% endfor %}
</div>

{% endmacro %}

{% macro read_more_button(art) %}

{{ secondary_button(art.url, 'Read more', 'arrow-right-short') }}

{% endmacro %}

{% macro primary_button(uri, name, icon=False) %}
<a href="{{ SITEURL }}/{{ uri }}" class="btn btn-secondary btn-darker btn-heading"
   title="{{ name }}"
   aria-label="{{ name }}"
>
    {{ name }}
</a>
{% endmacro %}

{% macro secondary_button(uri, name, icon=False) %}
<a href="{{ SITEURL }}/{{ uri }}" class="btn btn-secondary btn-darker btn-smaller nobr"
   title="{{ name }}"
   aria-label="{{ name }}"
>
    {{ name }}
    {% if icon %}
    <i class="bi bi-{{ icon }}"></i>
    {% endif %}
</a>
{% endmacro %}

{% macro main_button(uri, name, icon=False) %}
<a href="{{ SITEURL }}/{{ uri }}" class="btn btn-secondary btn-darker nobr"
   title="{{ name }}"
   aria-label="{{ name }}"
>
    {{ name }}
    {% if icon %}
    <i class="bi bi-{{ icon }}"></i>
    {% endif %}
</a>
{% endmacro %}


{% macro page_header(head_text, url, meta_text='') %}

<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="heading d-flex flex-wrap align-items-baseline justify-content-between">
                    <a href="{{ SITEURL }}/{{ url }}" rel="bookmark" title="{{ head_text }}" class="me-5">
                        <h1 class="my-3">
                            {{ head_text }}
                        </h1>
                    </a>
                    {% if meta_text %}
                    <p class="heading-meta">
                        {{ meta_text }}
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

</header>
{% endmacro %}


