{% macro main_post(article) %}

<div class="post-preview">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">
        <h2 class="post-title">
            {{ article.title }}
        </h2>
    </a>
    <div class="d-flex justify-content-start meta-element margin-y">
        <i class="bi bi-calendar"></i> {{ article.locale_date }}
        {% if article.readtime_string %}
        <i class="bi bi-dot"></i>
        <i class="bi bi-book"></i> {{ article.readtime_string }}
        {% endif %}
    </div>

    <p class="article-summary">
        {% if article.has_summary %}
        {{ article.summary }}
        {% elif article.summary %}
        {{ article.summary|striptags|truncate(200) }}
        {% endif %}
    </p>
    <div class="d-flex justify-content-between align-self-center align-items-center margin-y">
        {{ tags_list(article) }}
        {{ secondary_button(article.url, 'Read more', 'arrow-right-short') }}
    </div>
    <hr class="post-line">
</div>

{% endmacro %}


{% macro private_post(article) %}

<div class="post-preview">
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">
        <h2 class="post-title">
            {{ article.title }}
        </h2>
    </a>
    <div class="d-flex justify-content-start meta-element margin-y">
        <i class="bi bi-calendar"></i> {{ article.locale_date }}
    </div>

    <p class="article-summary">
        {% if article.has_summary %}
        {{ article.summary }}
        {% elif article.summary %}
        {{ article.summary|striptags|truncate(200) }}
        {% endif %}
    </p>
    <div class="d-flex justify-content-end margin-y">
        {{ secondary_button(article.url, 'Read more', 'arrow-right-short') }}
    </div>
    <hr class="post-line">
</div>

{% endmacro %}


{% macro meta_elements(article) %}

<i class="bi bi-calendar"></i> {{ article.locale_date }}
{% if article.readtime_string %}
<i class="bi bi-dot"></i>
<i class="bi bi-book"></i> {{ article.readtime_string }}
{% endif %}

{% endmacro %}


{% macro tags_list(article) %}
<div class="tags meta-element">
    {% for t in article.tags %}
    <a href="{{ SITEURL }}/tag/{{ t }}.html"
       rel="bookmark"
       title="Posts with #{{ t }} tag"
       aria-label="Posts with #{{ t }} tag"
    >#{{ t }}</a>
    {% endfor %}
</div>
{% endmacro %}

{% macro primary_button(uri, name, icon=False) %}
<a href="{{ SITEURL }}/{{ uri }}" class="btn btn-secondary btn-darker btn-heading"
   title="{{ name }}"
   aria-label="{{ name }}"
>{{ name }}
</a>
{% endmacro %}

{% macro secondary_button(uri, name, icon=False) %}
<a href="{{ SITEURL }}/{{ uri }}" class="btn btn-secondary btn-darker btn-smaller nobr"
   title="{{ name }}"
   aria-label="{{ name }}"
>{{ name }}
    {% if icon %}
    <i class="bi bi-{{ icon }}"></i>
    {% endif %}
</a>
{% endmacro %}


{% macro page_header(head_text, url, meta_text='') %}
<div class="heading d-flex flex-wrap align-items-baseline justify-content-between">
    <a href="{{ SITEURL }}/{{ url }}" rel="bookmark" title="{{ head_text }}" class="me-5">
        <h1 class="my-3">
            {{ head_text }}
        </h1>
    </a>
    {% if meta_text %}
    <p class="heading-meta">
        {{ meta_text }}
    </p>
    {% endif %}
</div>
<hr class="post-line">
{% endmacro %}
