{% from 'macros.j2' import main_post %}
{% extends "base.html" %}

{% block header %}
<div class="greeting"></div>
    {{ page.content }}
{% endblock header %}

{% block content %}

<div class="section-title">
    <h2>Latest posts</h2>
    <a href="{{ SITEURL }}/{{ POSTS_URL }}"
               title="All posts"
           aria-label="All posts"
           class="button"
           >All posts →</a>
</div>

{% for article in articles[:INDEX_POSTS_COUNT] %}
{{ main_post(article) }}
{% endfor %}

{% endblock content %}
