{% from 'macros.j2' import main_post, page_header %}
{% extends "base.html" %}

{% block header %}
<div class="article-heading big-heading">
    {{ page.content }}
    <div class="d-flex flex-wrap flex-lg-nowrap justify-content-evenly mt-5 mb-5">
        <a href="{{ SITEURL }}/{{ ABOUT_URL }}"
           class="btn btn-secondary btn-darker btn-heading"
           title="About"
           aria-label="About"
        >{{ SVG_PERSON }} About
        </a>
        <a href="{{ SITEURL }}/{{ POSTS_URL }}"
           class="btn btn-secondary btn-darker btn-heading"
           title="All posts"
           aria-label="All posts"
        >{{ SVG_POST }} Posts
        </a>
        <a href="{{ GIT_LINK }}"
           class="btn btn-secondary btn-darker btn-heading"
           title="My GitHub"
           aria-label="My GitHub"
        >{{ SVG_GITHUB }} GitHub
        </a>
    </div>
</div>

{% endblock header %}


{% block content %}
<div class="d-flex justify-content-between align-self-center align-items-center margin-y">
    <h2>
        <a href="#latest-posts" class="toclink">Latest posts</a></h2>
    <small><a href="{{ SITEURL }}/{{ POSTS_URL }}">All posts</a></small>

</div>

<hr class="post-line">

{% for article in articles[:INDEX_POSTS_COUNT] %}
{{ main_post(article) }}
{% endfor %}

<!--<h2>Tags</h2>-->
<!--<hr class="post-line">-->

<!--{% for tag, articles in tags[:INDEX_TAGS_COUNT]|sort %}-->
<!--<h3 class="btn btn-outline-secondary">-->
<!--    <a href="{{ SITEURL }}/{{ tag.url }}" rel="bookmark" title="{{ tag }}">-->
<!--        {{ tag }}-->
<!--    </a>-->
<!--</h3>-->
<!--{% endfor %}-->

{% endblock content %}
