<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{{ SITEURL }}/">
                {% if page_name == 'index' %}
                Index
                {% else %}
                {{ SITENAME }}
                {% endif %}
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                {% for cat, null in categories %}
                {% if cat not in EXCLUDED_CATEGORIES %}
                <li {% if cat== category %} class="active" {% endif %}>
                    <a href="{{ SITEURL }}/{{ cat.url }}">
                        {{ cat }}
                    </a>
                </li>
                <li><i class="fa-regular fa-pipe"></i></li>
                {% endif %}
                {% endfor %}
                {% for title, link in MENUITEMS %}
                <li>
                    <a href="{{ SITEURL }}/{{ link }}">
                        {{ title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>