{% extends "base.html" %}

{% block header %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
{% if HEADER_COVER %}
{% set HEADER_STYLE = "background-image: url('" + SITEURL + "/images/" + HEADER_COVER + "')" %}
{% elif HEADER_COLOR %}
{% set HEADER_STYLE = "background-color: " + HEADER_COLOR %}
{% else %}
{% set HEADER_STYLE = "background-image: url('" + SITEURL + "/" + THEME_STATIC_DIR + "/images/" + THEME_DEFAULT_HEADER + "')" %}
{% endif %}
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="heading">
                    <a href="{{ SITEURL }}/{{ NOTES_URL }}" rel="bookmark" title="Notes">
                        <h1>
                            Notes
                        </h1>
                    </a>
                    <p class="meta-elements">
                        Raw private notes
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="navigation-hr">

</header>
{% endblock header %}

{% block content %}
{% for article in drafts %}
<div class="post-preview d-flex bd-highlight mb-3 align-items-center">
    <div class="p-2">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="{{ article.title|striptags }}">

            <h2 class="note-title">

                {{ article.title }}
            </h2>
        </a>
    </div>
    <div class="p-2 meta-elements">
        <i class="bi bi-calendar"></i> {{ article.locale_date }}

    </div>
    <div class="p-2 tags">
        {% for t in article.tags %}
        <a href="{{ SITEURL }}/tags/{{ t }}" rel="bookmark" title="{{ t }}">
            #{{ t }}
        </a>
        {% endfor %}

    </div>
    <div class="ms-auto p-2 read-more">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="{{ article.title|striptags }}">
            Read more<i class="bi bi-arrow-right-short"></i>
        </a>
    </div>


</div>
<hr>
{% endfor %}

{% endblock content %}