{% if DEFAULT_PAGINATION and articles_paginator.num_pages > 1 %}
<nav aria-label="...">
    <ul class="pagination justify-content-evenly pagination-bar">
        {% if articles_page.has_previous() %}
        <li class="solid-link">
            <a href="{{ SITEURL }}/{{ articles_previous_page.url }}"
               class="btn btn-secondary btn-darker btn-smaller nobr"
               title="Previous"
               aria-label="Previous"
            ><i class="bi bi-arrow-left"></i> Prev
            </a>
        </li>
        {% else %}
        <li class="disabled-link solid-link">
            <a class="btn btn-secondary btn-darker btn-smaller nobr"
               title="Previous"
               aria-label="Previous"
            ><i class="bi bi-arrow-left"></i> Prev
            </a>
        </li>
        {% endif %}

        {% if articles_page.has_next() %}
        <li class="solid-link">
            <a href="{{ SITEURL }}/{{ articles_next_page.url }}"
               class="btn btn-secondary btn-darker btn-smaller nobr"
               title="Next"
               aria-label="Next"
            >Next <i class="bi bi-arrow-right"></i>
            </a>
        </li>
        {% else %}
        <li class="disabled-link solid-link">
            <a class="btn btn-secondary btn-darker btn-smaller nobr"
               title="Next"
               aria-label="Next"
            >Next <i class="bi bi-arrow-right"></i>
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endif %}
