{% extends "index.html" %}

{% block header %}
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
{% if HEADER_COVER %}
{% set HEADER_STYLE = "background-image: url('" + SITEURL + "/images/" + HEADER_COVER + "')" %}
{% elif HEADER_COLOR %}
{% set HEADER_STYLE = "background-color: " + HEADER_COLOR %}
{% else %}
{% set HEADER_STYLE = "background-image: url('" + SITEURL + "/" + THEME_STATIC_DIR + "/images/" + THEME_DEFAULT_HEADER + "')" %}
{% endif %}
<header class="intro-header" style="{{ HEADER_STYLE }}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="heading">
                    <h1>Posts</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}

{% block content %}
{{ super() }}
{% endblock content %}
