{% extends "index.html" %}

{% block header %}
<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="heading d-flex flex-wrap align-items-center">
                    <a href="{{ SITEURL }}/posts.html" rel="bookmark" title="Posts">
                        <h1>
                            Posts
                        </h1>
                    </a>
                    <p class="heading-meta">
                        List of all posts {{ page_name }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="navigation-hr">
</header>
{% endblock header %}

{% block content %}
{{ super() }}
{% endblock content %}

