{% from 'macros.j2' import private_post %}
{% extends "base.html" %}

{% block title %}
{{ SITENAME }} - Private
{% endblock %}

{% block header %}
<h1>
    <a href="{{ SITEURL }}/{{ DRAFTS_URL }}" rel="bookmark"
        title="Private memos, meant to be shared with closed ones.">Private</a>
</h1>
<p>Private memos, meant to be shared with closed ones.</p>
{% endblock header %}

{% block content %}
{% for article in drafts|sort(attribute="date", reverse=True) %}
{{ private_post(article) }}
{% endfor %}

{% endblock content %}
