{% extends "page.html" %}
{% block title %}{{ page.title|striptags }}{% endblock %}

{% block head %}
{{ super() }}
<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/resume.css" rel="stylesheet">
{% endblock head %}

{% block header %}
<div class="article-heading d-flex flex-wrap align-items-center justify-content-between">
    <h1 class="flex-grow">{{ page.name }}</h1>
    <div class="contacts d-flex flex-row flex-md-column pe-2">
        {% for icon in page.icons %}
        <a class="py-1 pe-3" href="{{ icon.url }}">
            <i class="bi bi-{{ icon.bi }}"></i>
            {{ icon.name }}
        </a>
        {% endfor %}
    </div>
</div>
{% endblock header %}


{% block content %}
<article class="resume">

    <div class="summary">
        {{ page.content }}
    </div>

    <div class="container p-0">
        <h2>Know</h2>
        <div class="row g-2 row-cols-1 row-cols-md-2 row-cols-xl-4">
            {% for skill in page.skills %}
            <div class="col skills-col">
                <h3>{{ skill.name }}</h3>
                <div class="d-flex flex-wrap justify-content-start pb-3">
                    {% for word in skill.keywords %}
                    <div class="skill-tag">{{ word }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container p-0">
        <h2>Done</h2>
        <div class="row g-2 row-cols-1 row-cols-md-2">
            {% for project in page.projects %}
            <div class="col">
                <h3>{{ project.name }}</h3>
                <ul class="carret-list">
                    {% for highlight in project.highlights %}
                    <li>
                        {{ highlight }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="container p-0 work">
        <h2>Work</h2>
        <div class="row g-2 row-cols-1">
            {% for job in page.jobs %}
            <div class="col">
                <h3>{{ job.name }}</h3>
                <div>{{ job.info }}</div>
                <ul class="carret-list">
                    {% for position in job.positions %}
                    <li class="more-padding">

                        <div class="d-flex justify-content-between flex-wrap align-self-center">

                            <h4 class="flex-fill">
                                {{ position.team }}
                            </h4>

                            <small>
                                <!--                                <i class="bi bi-calendar3"></i>-->
                                <time datetime="{{ position.startDate }}">
                                    {{ position.startDate }}
                                </time>
                                -
                                <time datetime="{{ position.endDate }}">
                                    {{ position.endDate }}
                                </time>
                            </small>
                        </div>

                        <div class="italic">
                            <!--                            <i class="bi bi-person-badge"></i>-->

                            {{ position.name }}
                        </div>
                        <ul class="bullet-list">
                            {% for highlight in position.highlights %}
                            <li>{{ highlight }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}
        </div>


        <div class="container p-0 work">
            <h2>Learn</h2>
            <div class="row g-2 row-cols-1">
                {% for edu in page.educations %}
                <div class="col">
                    <h3>
                        {{ edu.institution }}
                    </h3>
                    <div class="d-flex justify-content-between flex-wrap align-self-center">
                        <small>{{ edu.studyType }}</small>
                        <small class="text-muted">
                            <time datetime="{{ edu.startDate }}">{{ edu.startDate }}</time>
                            -
                            <time datetime="{{ edu.endDate }}">{{ edu.endDate }}</time>
                        </small>

                    </div>
                    <div class="d-flex justify-content-between flex-wrap">
                        {{ edu.area }}
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</article>
{% endblock content %}
