{% extends "page.html" %}
{% block title %}{{ page.title|striptags }}{% endblock %}

{% block head %}
{{ super() }}
<link href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/resume.css" rel="stylesheet">
{% endblock head %}

{% block header %}
<!-- Page Header -->
<header class="intro-header"
        style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/home-bg.png')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="heading resume-heading">

                    <h1>{{ page.name }}</h1>
                    <h2>{{ page.label }}</h2>

                    <span class="contacts">
       <a>&#128392; {{ page.location }}</a>
       <a href="mailto:{{ page.email }}">&#128386; {{ page.email }}</a>
       <a> &#128382;{{ page.phone }}</a>
                        <!--                    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/face.jpg">-->

                </span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock header %}


{% block content %}
<article class="resume">
    <div id="summary">
        {{ page.content }}
    </div>
    <h2>Skills</h2>
    <div class="container text-center">
        <div class="row g-2">
            {% for skill in page.skills %}
            <div class="col">
                <h4>{{ skill.name }}</h4>
                <div class="d-flex flex-wrap justify-content-center">
                    {% for word in skill.keywords %}
                    <div class="tag-item">{{ word }}</div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <h2>Done</h2>
    <div class="container text-center p-1">
        <div class="row g-2">
            {% for project in page.projects %}
            <div class="col">
                <h4>{{ project.name }}</h4>
                <!--                <div class="text-start">-->
                <!--                    {{ project.description }}-->
                <!--                </div>-->
                {% for highlight in project.highlights %}
                <div class="text-start highlight">
                    {{ highlight }}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>

    <div id="work">
        <h2>Work</h2>
        <div class="stack">
            {% for job in page.jobs %}
            <header>
                <div class="spaced-list">
                    <h4>{{ job.name }}</h4>
                    <span>
                  <time datetime="{{ job.startDate }}">{{ job.startDate }}</time> -
                  <time datetime="{{ job.endDate }}">{{ job.endDate }}</time>
                </span>
                </div>
                <div class="spaced-list">
                    {{ job.position }}
                </div>
            </header>
            {{ job.summary }}
            <ul>
                {% for highlight in job.highlights %}
                <li>{{ highlight }}</li>
                {% endfor %}
            </ul>
            {% endfor %}
        </div>
    </div>
    <!--                -->
    <!--                -->
    <!--    <div id="education">-->
    <!--        <h2>Learn</h2>-->
    <!--        <div class="stack">-->
    <!--            {% for edu in page.educations %}-->
    <!--            <header>-->
    <!--                <div class="spaced-list">-->
    <!--                    <h4>{{ edu.institution }}</h4>-->
    <!--                    <span>-->
    <!--            <time datetime="{{ edu.startDate }}">{{ edu.startDate }}</time> - -->
    <!--            <time datetime="{{ edu.endDate }}">{{ edu.endDate }}</time>-->
    <!--            </span>-->
    <!--                </div>-->
    <!--                <div class="spaced-list">-->
    <!--                    {{ edu.area }}-->
    <!--                    <a>{{ edu.studyType }}</a>-->
    <!--                </div>-->
    <!--            </header>-->
    <!--            {% endfor %}-->
    <!--        </div>-->
    <!--    </div>-->

</article>
{% endblock content %}
