{% extends "base.html" %}

{% block title %}
Tags - {{ SITENAME }}
{% endblock %}

{% block header %}
<h1>
    <a href="{{ SITEURL }}/{{ TAGS_URL }}" rel="bookmark"
        title="{{ tag_meta|striptags }}">Tags</a>
</h1>
<p>List of all used tags.</p>
{% endblock header %}

{% block content %}
<div class="d-flex flex-wrap justify-content-center mt-2">
    <div class="tags meta-element">
        {% for tag, articles in tags|sort %}
        <h3 class="btn btn-outline-secondary">
            <a href="{{ SITEURL }}/{{ tag.url }}" rel="bookmark" title="{{ tag }}">
                {{ tag }} ({{ articles|count }})
            </a>
        </h3>
        {% endfor %}
    </div>
</div>
{% endblock content %}
