{% extends "base.html" %}

{% block title %}{{ SITENAME }} - Tags{% endblock %}

{% block header %}

<header class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="heading d-flex flex-wrap align-items-center justify-content-between">
                    <a href="{{ SITEURL }}/tags.html" rel="bookmark" title="Posts">
                        <h1>
                            Tags
                        </h1>
                    </a>
                    <p class="heading-meta">
                        List of all used tags.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <hr class="navigation-hr">
</header>
{% endblock header %}

{% block content %}
<div class="d-flex flex-wrap justify-content-center mt-2">

    {%- for tag, articles in tags|sort %}
    <button href="{{ SITEURL }}/{{ tag.url }}" type="button" class="btn btn-outline-secondary">{{ tag }} ({{
        articles|count }})
    </button>
    {% endfor %}
</div>
{% endblock content %}
