.footer {
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  text-align: center;
}

.footer > hr {
margin-bottom: 0.7em;
    margin-left: 5em;
    margin-right: 5em;
}
.summary {
    margin-bottom: 1em;
    margin-top: 1em;
    color: black;
}

.summary pre {
    display: none;
}

.article-body {
    margin-top: 1em;
    color: black;
}

.article-title {
    margin-bottom: 0.1em;
    font-size: 2.4em;
}

.article-header {
    margin-bottom: 1em;
    margin-top: 2.5em;
}

/**
 * Overrides of notebook CSS for static HTML export
**/
div.entry-content {
    overflow: visible;
    padding: 8px;
}

.inner_cell {
    width: 100%;
}

.input_area {
    padding: 0.2em;
}

a {
    color: #444444; /* Charcoal Gray */
}

a:hover,
a:focus {
    color: #2C2C2C; /* Darker shade of gray on hover */
    text-decoration: underline;
}

a.heading-anchor {
    white-space: normal;
}

.rendered_html code {
    font-size: 0.8em;
}

pre.ipynb {
    color: black;
    background: #f7f7f7;
    border: none;
    box-shadow: none;
    margin-bottom: 0;
    padding: 0;
    margin: 0px;
    font-size: 13px;
}

/* remove the prompt div from text cells */
.prompt {
    display: none;
}

/* remove horizontal padding from text cells, */
/* so it aligns with outer body text */
div.text_cell_render {
    padding: 0.5em 0em;
}

img.anim_icon {
    padding: 0;
    border: 0;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -box-shadow: none;
}

div.collapseheader {
    width: 100%;
    background-color: #d3d3d3;
    padding: 2px;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.nav-pills>li {
    float: none;
}

.nav>li {
    position: relative;
    display: inline-block;
}

.nav-pills>ul {
    font-size: 1rem;
}

.page-header {
    margin: 30px 0px 10px;
}

.badge-tag {
    background-color: #9999991c;
}

.badge-tag > a {
        color: #999;
    text-shadow: none;
}

.article-meta {

padding: 10px 0px;
color: #999;

}

code {
color: #4d4d4d;
}

.pagination {
display: block;
margin-top: 3em;
margin-left: 0;
    margin-bottom: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.pagination li {
line-height: 20px;

}

.pagination ul>li {
    display: inline;
    }

.pagination ul>.disabled>span, .pagination ul>.disabled>a, .pagination ul>.disabled>a:hover, .pagination ul>.disabled>a:focus {
    color: #999999;
    background-color: transparent;
    cursor: default;
}

.pagination ul>li:last-child>a, .pagination ul>li:last-child>span {
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    border-bottom-right-radius: 4px;
}

.pagination ul>li>a, .pagination ul>li>span {
    float: left;
    padding: 4px 12px;
    line-height: 20px;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
}

.container {
padding-left: 0px !important;
padding-right: 0px !important;
}

