.resume h2 {

margin: 0.3em auto;

}

.resume h2 {
  display: flex;
  flex-direction: row;
}
.resume h2:before, h2:after{
  content: "";
  flex: 1 1;
  border-bottom: 1px solid var(--code-background);
  margin: auto;
}
.resume h2:before {
  margin-right: 10px
}
.resume h2:after {
  margin-left: 10px
}

.resume .highlight {
border-left: 2px solid var(--code-background);
    padding-left: 0.6rem;
    margin-bottom: 1rem;
}

.resume .contacts {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 3px 0px;
}

.resume .contacts > a {
margin: 2px 0px;
color: white !important;
}



