:root {

--line-color: #d1d1d1;
--bullet-color: #737373;
--icon-color: #abaaaa;
}

.resume .padding-less {

    margin: 0 0 !important;
}



.summary p {
margin: 0 auto !important;
}




.contacts a {
margin: 2px 0px;
color: var(--icon-color) !important;
font-size: 1rem;

}


.resume h4 {

    font-family: var(--title-font);
        font-weight: 500;

    }



.resume h3 {

font-size: 1.7rem;
margin-bottom: 0.2em;
    font-family: var(--title-font);
    font-weight: 600;
    text-align: left;
    color: #595050;
}

.resume h2 {

margin: 0.5em auto;
  display: flex;
  flex-direction: row;
    font-family: var(--title-font);

}

.resume h2:after{
  content: "";
  flex: 1 1;
  border-bottom: 2px solid var(--line-color);
  margin: auto;
}


.resume h2:after {
  margin-left: 10px;
}





.resume .highlight {
    margin-bottom: 1rem;
}


.resume .skills-col {

margin-top: 0 !important;

}

.resume .skill-tag {
  background: var(--code-background);
margin: 0.2em 0.1em;
    padding: 0.2em 0.3em;
    border-radius: 4px;
  }





.resume ul.carret-list {

padding-left: 0.8rem;
list-style-type: none;
}

.resume ul.carret-list > li {
    padding: 0.3rem 0 0 0.3rem;
}

.resume ul.carret-list > li::marker {
content: "\f231";
  font-family: "bootstrap-icons";
  color: var(--bullet-color);
  font-size: 1rem;
}

.resume ul.bullet-list {
padding-left: 0.8rem;
list-style-type: none;


}

.resume ul.bullet-list > li {
    padding: 0.3rem 0 0 0.3rem;


}

.resume ul.bullet-list > li::marker {
content: "\F309";
  font-family: "bootstrap-icons";
  color: var(--bullet-color);
  font-size: 1rem;
}

.resume .more-padding {

padding-top: 0.7rem !important;

}