{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
{% for article in articles_page.object_list %}
<div class="article" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="text-center article-header">
        <h1 itemprop="name headline" class="article-title">
            <a href="{{ SITEURL }}/{{ article.url }}">
                {{ article.title }}
            </a>
        </h1>

        <time datetime="{{ article.date.isoformat() }}" itemprop="datePublished">
            {{ article.locale_date }}
        </time>
        {% if article.tags %}
        <div>
            {% for tag in article.tags %}
            <span itemprop="keywords" class="badge badge-tag">
			<a href="{{ SITEURL }}/{{ tag.url }}" rel="tag">{{ tag }}</a>
		</span>
            {% endfor %}
        </div>
        {% endif %}
        <div class="summary">{{ article.summary }}</div>
    </div>
</div>
<hr>

{% endfor %} {# For article #}

{% include 'pagination.html' %}
{% endif %} {# If articles #}
{% endblock content %}

